@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80vw;
  z-index: 200;
  margin-top: 100px;
}

.left,
.right {
  display: flex;
  flex: 1;
  object-fit: contain;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10vh;
  margin-bottom: 100px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  align-self: flex-start;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  padding-top: 50px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding-right: 1rem;
}

footer {
  display: flex;
  width: 80vw;
  justify-content: flex-end;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 200px;
}

.hero-text {
  font-size: 12vh;
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 1000px) {
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
    margin: 0 0 10vh 0;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .hero {
    height: 125vh;
  }

  p {
    margin: 0 0 10vh 0;
  }

  .hero-text {
    font-size: 15vw;
    width: 80vw;
  }
}

img {
  z-index: 1000;
}


@keyframes float {
  from{
    transform: translateY(-10vh);

  }

  50%{
    transform: translateY(0);
  }

  to{
    transform: translateY(-10vh);
  }

}