
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
display: flex;
flex-direction: column;
width: 80vw;

margin-top: 100px;
}

.left, .right {
  display: flex;
  flex: 1;
  object-fit: contain;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  align-self: flex-start;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  padding-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7)
  }
}
