
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.main {
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FF85DD 0%, #FFA4E5 100%);
}

.content {
display: flex;
flex-direction: column;
width: 80vw;
border: 1px solid black;
margin-top: 100px;
}

.left, .right {
  display: flex;
  flex: 1;
  object-fit: contain;
  border: 1px solid red;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right {
  
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7)
  }
}
