
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FF85DD 0%, #FFA4E5 100%);
  /* padding: 200px 100px 100px 200px; */
}

.content {
display: flex;
flex-direction: column;
width: 80vw;
border: 1px solid black;
}

.left, .right {
  display: flex;
  flex: 1;
  object-fit: contain;
  border: 1px solid red;
}

.right {
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7)
  }
}
